.header {
  padding: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  min-height: 90px;

  @media only screen and (min-width: 768px) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    padding: 0 20px;
  }

  @media only screen and (min-width: 1024px) {
    height: 115px;
    padding: 0;
  }

  &__blur {
    position: absolute;
    z-index: -10;
    overflow: visible;

    max-width: 100%;

    @media only screen and (min-width: 768px) {
    }
  }

  &__logo {
    @media only screen and (min-width: 1024px) {
      padding-left: 100px;
      padding-top: 0px;
    }
    @media only screen and (min-width: 1250px) {
      padding-left: 124px;
    }
  }

  &:has(#hamburger:checked) {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #fff;
  }

  #hamburger {
    display: none;

    &:checked + .burger-menu > .burger-menu__line {
      background-color: transparent;

      &::after {
        transform: rotate(135deg);
        top: 0;
        background-color: $color-black;
      }

      &::before {
        transform: rotate(-135deg);
        top: 0;
        background-color: $color-black;
      }
    }

    &:checked ~ nav {
      display: block;
    }
  }
}
