.house-card {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__img-container {
    position: relative;
    margin-bottom: 16px;

    @media only screen and (max-width: 410px) {
      max-height: 382px;
    }

    .house-card__img {
      max-width: 376px;
      max-height: 382px;
      border-radius: 24px;
      object-fit: cover;

      @media only screen and (max-width: 768px) {
        width: 350px;
        max-height: 355px;
      }

      @media only screen and (max-width: 425px) {
        width: calc(100vw - 40px);
      }
    }
  }

  .house-label {
    position: absolute;
    bottom: 16px;
    left: 16px;
  }

  h4 {
    margin-bottom: 16px;
  }

  &__user-info {
    display: flex;
    gap: 16px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50px;
    }

    &-text {
      gap: 4px;
    }
  }
}
