.search-bar {
  display: grid;
  grid-template-columns: min-content 1fr;

  align-items: center;
  gap: 10px;
  width: 100%;
  align-self: center;
  padding: 8px 4px 4px 4px;

  background-color: $color-white;
  border: 1px solid $color-grey-light;
  border-radius: 30px;

  @media only screen and (min-width: 425px) {
    grid-template-columns: min-content 1fr max-content;
    align-self: flex-start;
    width: 100%;
    padding: 4px 4px 4px 27px;
    gap: 16px;
  }

  img {
    margin-left: 10px;
    @media only screen and (min-width: 425px) {
      margin-left: auto;
    }
  }

  input {
    border: none;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;

    @media only screen and (min-width: 365px) {
      justify-self: center;
    }

    @media only screen and (min-width: 425px) {
      justify-self: auto;
      width: 100%;
    }

    &::placeholder {
      font-family: $font-primary;
    }

    &:focus {
      outline: none;
    }
  }

  button {
    grid-column: 1 / 3;
    justify-self: stretch;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr min-content;

    &::after {
      content: "";
      background-image: url(../../img/utilities/arrow-right.svg);
      width: 25px;
      height: 25px;
    }

    @media only screen and (min-width: 425px) {
      grid-column: auto;
      justify-self: end;
      width: 150px;
    }
  }
}
