.heading-xl {
  font-size: 40px;
  text-transform: capitalize;
  line-height: 50px;
}

.heading-large {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.body-semibold {
  font-family: 16px;
  font-weight: 600;
}

.body-light {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.label-small {
  font-size: 12px;
  font-weight: 300;
}

.label {
  font-size: 14px;
  font-weight: 400;
}
