.color-primary {
  color: $color-primary;
}

.color-primary-dark {
  color: $color-primary-dark;
}

.color-primary-light {
  color: $color-primary-light;
}

.color-secondary {
  color: $color-secondary;
}

.color-black {
  color: $color-black;
}

.color-danger {
  color: $color-danger;
}

.color-danger-light {
  color: $color-danger-light;
}

.color-info {
  color: $color-info;
}

.color-info-light {
  color: $color-info-light;
}

.color-white {
  color: $color-white;
}

.color-grey-1 {
  color: $color-grey-1;
}

.color-grey-2 {
  color: $color-grey-2;
}

.color-grey-3 {
  color: $color-grey-3;
}
