.section-hero {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  margin-bottom: 50px;

  &::before {
    content: "";
    background: radial-gradient(
        ellipse at top,
        rgb(130, 247, 255) 0%,
        rgba(130, 255, 210, 0.2506836484593838) 35%,
        #fff 60%
      ),
      radial-gradient(
        ellipse at bottom,
        rgb(130, 247, 255) 0%,
        rgba(130, 255, 210, 0.2506836484593838) 35%,
        #fff 60%
      );
    max-width: 100%;
    width: 900px;
    height: 600px;
    left: -200px;
    position: absolute;
    z-index: -10;
    overflow-x: hidden;

    @media only screen and (max-width: 425px) {
      left: -100px;
    }
    @media only screen and (max-width: 320px) {
      left: -80px;
    }
  }

  @media only screen and (min-width: 768px) {
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content 1fr;
  }

  @media only screen and (min-width: 1024px) {
  }

  &__photo {
    background-image: linear-gradient(
        -135deg,
        rgba(12, 21, 55, 0) 0%,
        rgba(12, 21, 55, 0.3) 100%
      ),
      url(../../img/section-hero/hero-with-lines.png);
    filter: saturate(150%);
    mask-image: url(../../img/section-hero/hero-with-lines.png);
    background-position: center;

    max-width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;

    @media only screen and (min-width: 768px) {
      grid-column: 2 / 3;
      grid-row: 1 / 3;

      height: 100%;

      border-bottom-left-radius: 80px;
    }

    @media only screen and (max-width: 1250px) {
      background-image: linear-gradient(
          -135deg,
          rgba(12, 21, 55, 0) 0%,
          rgba(12, 21, 55, 0.3) 100%
        ),
        url(../../img/section-hero/hero-with-lines-AI-3.jpg);
    }

    @media only screen and (max-width: 880px) {
      background-image: linear-gradient(
          -135deg,
          rgba(12, 21, 55, 0) 0%,
          rgba(12, 21, 55, 0.3) 100%
        ),
        url(../../img/section-hero/hero-with-lines-AI-4.jpg);
    }

    @media only screen and (max-width: 767px) {
      background-image: linear-gradient(
          -135deg,
          rgba(12, 21, 55, 0) 0%,
          rgba(12, 21, 55, 0.3) 100%
        ),
        url(../../img/section-hero/hero-with-lines-AI-3.jpg);
    }

    .hero-line {
      position: absolute;
      top: 17.5%;
      left: 14.5%;
    }
  }

  &__blur {
    display: none;

    position: absolute;
    z-index: -10;
    width: 100%;
    max-height: 100%;

    @media only screen and (min-width: 768px) {
      display: none;
    }
  }

  &__main {
    position: relative;
    max-width: 100%;
    margin-bottom: 50px;
    margin-top: 115px;
    padding: 20px 36px 0 20px;

    @media only screen and (min-width: 768px) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;

      padding: 36px 20px 0 20px;
    }

    @media only screen and (min-width: 1024px) {
      padding: 46px 80px 0 100px;
    }

    @media only screen and (min-width: 1250px) {
      padding: 56px 100px 0 124px;
    }

    &-content {
      display: flex;
      flex-direction: column;

      gap: 16px;
      height: 100%;

      h1 > span {
        color: $color-primary;
      }

      h1 {
        margin-bottom: 8px;
      }

      .search-bar {
        margin: 10px 0 20px;
        justify-self: center;

        @media only screen and (min-width: 768px) {
          margin: 13px 0 13px;
        }

        @media only screen and (min-width: 1024px) {
          margin: 12px 0 12px;
        }
      }

      .partnership {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        h5 {
          @media only screen and (max-width: 600px) {
            align-self: center;
          }
        }

        @media only screen and (min-width: 601px) {
          gap: 16px;
        }

        @media only screen and (min-width: 1250px) {
          max-width: 80%;
        }

        &__logos {
          display: grid;
          grid-template-columns: 1fr 1fr;

          gap: 32px;

          @media only screen and (max-width: 600px) {
            justify-items: center;
          }

          @media only screen and (min-width: 601px) {
            grid-template-columns: repeat(4, 1fr);
          }

          @media only screen and (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
          }

          @media only screen and (min-width: 1250px) {
            grid-template-columns: repeat(4, 1fr);
          }

          img {
            width: 83px;
          }
        }
      }
    }
  }
}

.section-recommendations {
  display: grid;
  gap: 8px;
  grid-template-columns: max-content 1fr max-content;
  margin-bottom: 120px;

  @media only screen and (max-width: 880px) {
    grid-template-columns: 1fr;
  }

  @media only screen and (max-width: 768px) {
    margin-bottom: 60px;
  }

  &__orange {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
    padding-left: 20px;

    @media only screen and (min-width: 1024px) {
      padding-left: 100px;
    }

    @media only screen and (min-width: 1250px) {
      padding-left: 124px;
    }

    &::before {
      content: "";
      position: absolute;
      left: -19px;
      top: 4px;
      width: 32px;
      height: 1px;
      background-color: $color-secondary;

      @media only screen and (min-width: 1024px) {
        left: calc(50% - 117px);
      }

      @media only screen and (min-width: 1250px) {
        left: calc(50% - 105px);
      }
    }
  }

  h2 {
    grid-column: 1 / 2;
    padding-left: 20px;

    @media only screen and (min-width: 1024px) {
      padding-left: 100px;
    }

    @media only screen and (min-width: 1250px) {
      padding-left: 124px;
    }
  }

  &__type-buttons {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    grid-column: 2 / 3;
    width: 100%;

    @media only screen and (max-width: 880px) {
      grid-column: auto;
      grid-row: 3 / 4;

      flex-wrap: wrap;
      padding: 0 20px;
      margin-top: 15px;

      justify-content: space-evenly;
    }

    @media only screen and (max-width: 450px) {
      flex-direction: column;
      gap: 20px;
    }

    .type-button-hidden {
      display: none;
    }

    .type-button-selected {
      order: -1;
    }

    .arrow {
      width: 16px;
      height: 16px;
      position: absolute;
      right: 15%;

      transform: rotate(-90deg);
      background-image: url(../../img/utilities/arrow-left.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      @media only screen and (max-width: 275px) {
        position: static;
      }

      &-up {
        transform: rotate(90deg);
      }
    }

    button {
      position: relative;
      gap: 10px;

      @media only screen and (max-width: 880px) {
        width: calc(100% / 3.3);
      }

      @media only screen and (max-width: 450px) {
        width: 100%;
      }

      img {
        height: 100%;
      }
    }
  }

  .house-slider__buttons {
    grid-column: 3 / 4;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    display: flex;
    gap: 8px;
    margin-right: 20px;

    @media only screen and (max-width: 880px) {
      grid-column: auto;
      grid-row: 4 / 5;
      gap: 16px;
      margin-top: 16px;
      margin-right: 0;
    }

    @media only screen and (min-width: 1024px) {
      margin-right: 80px;
    }

    @media only screen and (min-width: 1250px) {
      margin-right: 124px;
    }

    svg {
      border: 1px solid $color-primary;
      border-radius: 50px;
      height: 24px;
      width: 24px;
      padding: 12px;
      box-sizing: content-box;
      path {
        fill: #10b981;
      }
    }

    .house-slider__active-button {
      background-color: $color-primary;
      path {
        fill: #fff;
      }
    }
  }

  .house-slider-wrapper {
    margin-top: 36px;
    grid-row: 3 / 4;
    grid-column: 1 / -1;

    @media only screen and (max-width: 880px) {
      grid-column: auto;
      grid-row: 5 / 6;
      margin-top: 16px;
    }
  }
}

.section-ready-to-sell {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 113px;
  padding: 0 124px;
  position: relative;

  &::before {
    content: "";
    background-image: url(../../img/section-review/blur.svg);
    background-repeat: no-repeat;
    max-width: 100%;
    width: 900px;
    height: 600px;
    right: -500px;
    top: -200px;
    position: absolute;
    z-index: -10;
    overflow-x: hidden;
    transform: scale(1.7);

    @media only screen and (max-width: 768px) {
      right: -300px;
      top: -100px;
    }

    @media only screen and (max-width: 600px) {
      right: -100px;
      top: -100px;
    }

    @media only screen and (max-width: 425px) {
      right: -100px;
      top: 0;
    }
    @media only screen and (max-width: 320px) {
      top: 100px;
      right: -50px;
    }
  }

  @media only screen and (max-width: 1360px) {
    padding-right: 60px;
  }

  @media only screen and (max-width: 1249px) {
    padding-left: 100px;
  }

  @media only screen and (max-width: 1140px) {
    padding-right: 40px;
  }

  @media only screen and (max-width: 1024px) {
    padding: 0 20px;
  }

  @media only screen and (max-width: 880px) {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    max-width: 524px;
    // margin-right: 60px;

    @media only screen and (max-width: 1024px) {
      & > h2,
      & > h5 {
        text-align: center;
      }
    }

    @media only screen and (max-width: 880px) {
      justify-self: center;
      max-width: 100%;
    }

    &__orange {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: calc(50% - 86px);
        top: 4px;
        width: 32px;
        height: 1px;
        background-color: $color-secondary;
      }
    }

    h2 {
      margin-bottom: 4px;
    }

    .house-detail {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding-bottom: 32px;
      border-bottom: 2px solid $color-grey-light;
      margin-top: 12px;
      align-self: stretch;

      @media only screen and (max-width: 1140px) {
        align-items: center;
      }

      &__details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 53px;
        row-gap: 16px;

        @media only screen and (max-width: 1140px) {
          grid-template-columns: 1fr;
          justify-items: center;
        }

        &__item {
          display: flex;
          align-items: center;
          gap: 16px;
        }
      }
    }

    .seller-contact {
      display: flex;
      justify-content: space-between;
      gap: 12px;
      align-self: stretch;
      margin-top: 32px;

      @media only screen and (max-width: 1140px) {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 16px;
      }

      &__info {
        display: flex;
        gap: 16px;
        align-items: center;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50px;
        }

        &-text {
          gap: 4px;
        }
      }

      button {
        width: max-content;
        gap: 8px;

        @media only screen and (max-width: 840px) {
          padding: 8px 12px;
        }
      }
    }
  }

  &-video {
    margin-left: 50px;
    height: 459px;
    width: 528px;
    position: relative;
    justify-self: flex-end;
    align-self: center;
    display: flex;

    @media only screen and (max-width: 1050px) {
      margin-left: 50px;
    }

    @media only screen and (max-width: 880px) {
      justify-self: center;
      margin: 0;
      transform: translateX(0);
      width: 100%;
      justify-content: center;
    }

    @media only screen and (max-width: 600px) {
      width: 100%;
      height: auto;
      transform: translateX(0);
      // padding: 20px;
    }

    .video-hidden {
      display: none;
    }

    .video-close {
      height: 48px;
      width: 48px;
      display: none;
      z-index: 3;
      position: absolute;
      top: 0px;
      right: 0;

      @media only screen and (max-width: 880px) {
        top: -48px;
      }
    }

    &__wrapper {
      width: 478px;
      height: 416px;
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      cursor: pointer;
      z-index: 99;

      @media only screen and (max-width: 880px) {
        // right: 50%;
        // width: 80%;
        height: auto;
        // transform: translateX(50%);
        position: static;
        // justify-content: center;
      }

      @media only screen and (max-width: 600px) {
        width: 100%;
        right: 0;
        transform: translateX(0);
        height: auto;
        display: block;
      }
    }

    iframe {
      display: none;
      width: 100%;
      z-index: 90;

      align-self: center;

      aspect-ratio: 16 / 9;

      @media only screen and (max-width: 880px) {
        height: auto;
      }
    }

    .video-to-hide {
      position: relative;
    }

    .video-stretch {
      width: 100%;
    }

    .video-miniature {
      width: 100%;
      height: 100%;
    }

    .play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__images {
      position: absolute;
      bottom: -43px;
      left: -50px;

      display: flex;
      gap: 12px;
      align-items: flex-end;
      z-index: 10;
    }

    @media only screen and (max-width: 600px) {
      &__flower,
      &__armchair,
      &__sofa {
        display: none;
      }
    }

    &__sofa {
      width: 296px;
      height: 168px;
      border-radius: 8px;
    }

    &__flower,
    &__armchair {
      width: 96px;
      height: 80px;
      border-radius: 8px;
    }
  }
}

.section-review {
  display: flex;
  flex-direction: column;

  gap: 13px;

  margin-bottom: 109px;

  @media only screen and (max-width: 768px) {
    margin-bottom: 60px;
  }

  &__orange {
    position: relative;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -8px;
      width: 32px;
      height: 1px;
      background-color: $color-secondary;
    }
  }

  h2 {
    text-align: center;
    margin-bottom: 27px;
  }
}

.section-articles {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  position: relative;

  margin-bottom: 120px;
  padding: 0 124px;

  &::before {
    content: "";
    background-image: url(../../img/section-articles/blur.svg);
    background-repeat: no-repeat;
    max-width: 100%;
    width: 900px;
    height: 600px;
    left: -100px;
    top: 0;
    position: absolute;
    z-index: -10;
    overflow-x: hidden;
    transform: scale(1.7);

    @media only screen and (max-width: 920px) {
      transform: scale(2.5);
      left: 100px;
      top: 150px;
    }

    @media only screen and (max-width: 600px) {
      left: -100px;
      top: 150px;
    }
  }

  @media only screen and (max-width: 1250px) {
    padding: 0 70px;
  }

  @media only screen and (max-width: 1100px) {
    padding: 0 40px;
  }

  @media only screen and (max-width: 1024px) {
    padding: 0 20px;
  }

  @media only screen and (max-width: 768px) {
    margin-bottom: 80px;
  }

  &__orange {
    position: relative;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -8px;
      width: 32px;
      height: 1px;
      background-color: $color-secondary;
    }
  }

  h2 {
    text-align: center;
    margin-bottom: 27px;
  }

  .btn {
    margin-bottom: 41px;
  }
}

.section-subscribe {
  gap: 120px;

  margin-bottom: 120px;
  padding: 0 124px;

  @media only screen and (max-width: 1250px) {
    padding: 0 70px;
  }

  @media only screen and (max-width: 1100px) {
    padding: 0 40px;
  }

  @media only screen and (max-width: 1024px) {
    padding: 0 20px;
  }

  @media only screen and (max-width: 768px) {
    margin-bottom: 80px;
  }

  @media only screen and (max-width: 450px) {
    padding: 0;
  }

  .join {
    display: flex;
    gap: 32px;

    @media only screen and (max-width: 1024px) {
      gap: 16px;
    }

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      gap: 32px;
    }

    @media only screen and (max-width: 450px) {
      gap: 0;
    }

    &__text {
      flex-basis: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 8px 32px 0 #0c153717;
      border-radius: 8px;
      padding: 40px 20px 0 20px;

      @media only screen and (max-width: 450px) {
        box-shadow: none;
      }

      h3 {
        color: #0c1930;
        margin-bottom: 28px;
        text-align: center;
      }

      h5 {
        text-align: center;

        &:not(:last-of-type) {
          &::after {
            display: block;
            margin: 24px auto;
            content: "";
            width: 40px;
            height: 2px;
            background-color: $color-primary;
          }
        }
      }

      img {
        margin-top: -20%;
        background-size: cover;
        max-width: 100%;
        z-index: -10;
      }
    }

    &__form {
      flex-basis: 60%;
      display: flex;
      flex-direction: column;
      gap: 28px;
      box-shadow: 0 8px 32px 0 #0c153717;
      border-radius: 8px;
      padding: 40px;

      input:focus,
      textarea:focus {
        outline: 2px solid $color-primary;
      }

      @media only screen and (max-width: 1024px) {
        padding: 20px;
      }

      @media only screen and (max-width: 768px) {
        padding: 40px 20px;
      }

      @media only screen and (max-width: 450px) {
        box-shadow: none;
      }

      .label-input {
        display: grid;
        grid-template-columns: 106px 1fr;
        align-items: center;
        gap: 8px;

        @media only screen and (max-width: 1024px) {
          grid-template-columns: 90px 1fr;
        }

        @media only screen and (max-width: 450px) {
          grid-template-columns: 1fr;
        }

        label {
          @media only screen and (max-width: 450px) {
            display: none;
          }
        }

        & > input,
        & > textarea,
        & > select,
        & > .dropdown-form {
          width: 100%;
          height: 56px;
          border: solid 1px $color-grey-light;
          padding: 16px 24px;
          font-family: $font-primary;
          color: $color-grey;
          font-size: 14px;
          font-weight: 500;
          border-radius: 28px;
        }

        &--message {
          position: relative;

          label {
            align-self: flex-start;
            margin-top: 15px;
          }

          #form_message {
            height: 144px;
            max-width: 496px;
            position: relative;
            resize: none;

            @media only screen and (max-width: 768px) {
              max-width: 100%;
            }
          }

          #form_message-counter {
            position: absolute;
            bottom: 20px;
            right: 20px;

            z-index: 50;
          }

          #message-counter {
            position: absolute;
            top: 0;
          }
        }
      }

      .form_consent_container {
        display: flex;
        gap: 8px;

        margin-left: 106px;
        align-items: flex-start;

        @media only screen and (max-width: 450px) {
          margin-left: 0;
        }

        #form_consent {
          min-width: 24px;
          min-height: 24px;
        }

        input[type="checkbox"] {
          accent-color: #74992e;
          cursor: pointer;
        }
      }
    }
  }
}
