.btn {
  border-radius: 30px;
  width: 140px;
  width: max-content;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  font-family: $font-primary;
  gap: 5px;

  &:hover {
    cursor: pointer;

    filter: brightness(90%);
  }
}

.btn-transparent-white {
  background-color: rgba(255, 255, 255, 0.1);
  color: $color-white;
  border: 1px solid $color-white;
  padding: 8px 16px;
  width: minmax(124px, max-content);
  height: 34px;
}

.btn-transparent-black {
  background-color: rgba(255, 255, 255, 0.1);
  color: $color-black;
  border: 1px solid $color-black;
  padding: 8px 16px;
  width: minmax(124px, max-content);

  height: 34px;
}

.btn-transparent-primary {
  background-color: transparent;
  color: $color-primary;
  border: 1px solid $color-primary;
  padding: 15px 27px;
  width: min-content;

  &--active {
    background-color: $color-primary-light;
    border: none;
  }
}

.btn-primary-light {
  background-color: $color-primary-light;
  color: $color-primary-dark;
  border: 1px solid $color-primary-dark;
}

.btn-primary-light-noborder {
  background-color: $color-primary-light;
  color: $color-primary-dark;
  border: none;
}

.btn-primary {
  background-color: $color-primary;
  color: $color-white;
  border: none;
}
