.hero-box {
  &-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  display: flex;
  height: 104px;
  gap: 16px;
  background-color: #ffffff;
  border-radius: 32px;
  padding: 24px;
  max-width: max-content;
  min-width: max-content;

  &__photos {
    display: flex;
    align-items: center;

    img {
      height: 56px;
      width: 56px;
      box-shadow: 0px 9px 32px -15px;

      border-radius: 50px;
      border: solid 3px white;
      margin-left: -27px;

      @media only screen and (max-width: 350px) {
        box-shadow: 0px 9px 16px -10px;
      }

      &:nth-child(1) {
        margin-left: 0;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
